.container {
  max-width: 900px;
  margin: auto;
}

.preview-grid, .grid-images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 10px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin: 10px 5px 20px 0;
}

.warning {
  color: red;
  font-weight: bold;
}

.loading {
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
